<!DOCTYPE html>
<html lang="en-XX" data-idc="SHAOY">
    <head>
        <title>Cheap Flights, Airline Tickets &Flight Tickets | Trip.com</title>
        <meta name="description" content="Get cheap flights! Search for airline tickets, and book with Trip.com to save up to 55% on your airfare. Browse flight schedules for China & international flights and save on flight tickets!">
        <meta name="keywords" content="cheap flights, flights, airline tickets, airfares, cheap airfares, Trip.com">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui">
        <meta charset="utf-8">
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>
