.wrapper{
    width:100%;
    height:100%;
    position:absolute;
    z-index:1;
    li{
        width: 100vw;
        height: 200px;
    }
    .pulldown-tips{
		position:absolute;
		top:-40px;
		left:0;
		width:100%;
    }
    
    #pullDown,.pulldown-tips{
        height:40px;
        line-height:40px;
        text-align:center;
    }

}